
@media (prefers-color-scheme: light) {
  :root {
    --background: #eceeee;
    --text: #000000;
    --border: #6F6F6F;
    --contrast-shadow: #1B1B1B;
    --star: #E09304;
    --list-hover: #E09304;
    --list-hover-selected: #E04A04;
    --input-background: #CFCFCF;
    --tooltip-background: #505355;
    --pre: #5B6A16;
    --select-active: #ffffff;

    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --text: #DDDDDD;
    --border: #6F6F6F;
    --contrast-shadow: #6F6F6F;
    --star: #FFFF00;
    --list-hover: #FFFF00;
    --list-hover-selected: #FFAA00;
    --input-background: #333333;
    --tooltip-background: #505355;
    --pre: #D8FA3C;
    --select-active: #cecece;

    color-scheme: dark;
  }
}

$background: var(--background);
$text: var(--text);
$border: var(--border);
$box-shadow: rgb(var(--background) / 0.6);
$contrast-shadow: var(--contrast-shadow);
$star: var(--star);
$list-hover: var(--list-hover);
$list-hover-selected: var(--list-hover-selected);
$input-background: var(--input-background);
$tooltip-background: var(--tooltip-background);
$pre: var(--pre);
$select-active: var(--select-active);

// Button colors
$button-color-normal: #2dabf9;
$button-color-critical: #ff0404;
$button-color-positive: #259B25;
$button-disabled: #555555;
$button-text: #FFFFFF;
$button-shadow: #111111;

$list-selected: #FF0000;
$list-drag-item: #259B25;
$disabled: #6F6F6F;

$dialog-titlebar-color: #3399CC;
$dialog-title-color: #000000;
$dialog-close-color: #ff0404;
$focus: #0688fa;

$text-special: #000000;

$active-tab: #5F5F5F;
$drop-area-background: #014E01;
$headers: #FF6400;
$background-special: #F5F5DC;
$background-special-highlight: #FBCDCA;
$background-special-title: #FF8000;
$autocomplete: #283944;

// > Editors and previews colors
$strong: #FFFF77;
$headers: #FF6400;
$link: #7f99fb;
$code: #8efa3c;
$link-hover-background: #EFEF00;
$link-hover-text: #000000;
