
/* > Globals */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

/* >> For vuetify */
html {
  overflow: hidden !important;
}

.cet-container {
  overflow: hidden !important;
}

:root {
  --container-height: calc(100vh - 121px);
  --scrollbar-track: light-dark(#e6e6e6, #202020);
  --separator-color: rgb(var(--v-theme-secondary));
}

/* > Vuetify specific */

/* Height of the various nodes UI areas */
.container {
  overflow: clip auto;
  height: var(--container-height);
  padding: 10px 0 0 0 !important;
}

/* >> Elements on the UI */
.result-label {
  color: light-dark(#7ca911, #baf434) !important;
  opacity: 1 !important;
  user-select: none !important;
}

.separator-title {
  font-size: 1.5rem !important;
  line-height: 1.333;
  width: 100% !important;
  justify-content: center !important;
  user-select: none !important;
  margin: 14px 0 12px 0;
  opacity: 1 !important;
  color: var(--separator-color) !important;
  border-top: solid 5px var(--separator-color);
  padding-top: 2px;
  letter-spacing: 0.06rem !important;
}

.first-title {
  border-top: none;
  margin-top: 4px;
}

.simple-title {
  font-size: 1.5rem !important;
  line-height: 1.333;
  width: 100% !important;
  justify-content: center !important;
  user-select: none !important;
  margin: 12px 0 12px 0;
  opacity: 1 !important;
  color: var(--separator-color) !important;
  padding: 1px 0;
  letter-spacing: 0.06rem !important;
}

.column-title {
  font-size: 1.2rem !important;
  font-weight: bold;
  justify-content: left !important;
  user-select: none !important;
  opacity: 1 !important;
  color: var(--separator-color) !important;
  letter-spacing: 0.06rem !important;
}

/* >> Make labels not selectable */
.no-select {
  user-select: none !important;
}

.v-label--clickable {
  user-select: none !important;
}

.v-slider__label {
  user-select: none !important;
}

/* >> Scrollbar */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-left: 1px solid light-dark(#dadada, #2c2c2c);
}

::-webkit-scrollbar-thumb {
  background-color: light-dark(#b0b0b0, #3e3e3e);
  border: solid 3px var(--scrollbar-track);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: light-dark(#808080, #B3B3B3);
}

::-webkit-scrollbar-corner {
  background-color: var(--v-theme-background);
}

/* > Secondary windows */
.button-strip {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 3000px !important;
  width: 100vw;
  gap: 10px;
}

/* > Buttons in dialog with focus */
.focus-visible-buttons .v-btn:focus {
  outline: 2px solid rgb(var(--v-theme-primary));
  outline-offset: 2px;
  background-color: rgb(var(--v-theme-primary), 0.3) !important;
  box-shadow: 0 0 0 2px rgb(var(--v-theme-primary));
}
