@use "colors";
@use "fonts";

// > Globals
// >> Body
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: colors.$background;
  font-family: fonts.$ui;
  color: colors.$text;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

// For vuetify
html {
  overflow: hidden !important;
}

:root {
  --usable-height: calc(100vh - 30px); // Height of the application area (window height minus titlebar height)
  --container-height: calc(100vh - 74px);
}
