
// > Globals
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

// For vuetify
html {
  overflow: hidden !important;
}

:root {
  --usable-height: calc(100vh - 30px); /* height of the application area (window height minus titlebar height) */
  --container-height: calc(100vh - 104px);
}

// > Vuetify specific
// Height of the various nodes UI areas
.container {
  overflow: clip auto;
  height: var(--container-height);
}

@media (prefers-color-scheme: light) {
.yellow-title {
  color: #F57F17 !important;
  opacity: 1 !important;
}

.green-label {
  color: #2E7D32 !important;
  opacity: 1 !important;
}
}

@media (prefers-color-scheme: dark) {
.yellow-title {
  color: #FFF176 !important;
  opacity: 1 !important;
}

.green-label {
  color: #66BB6A !important;
  opacity: 1 !important;
}
}
