
// $ui: "Inter", "Avenir", "Helvetica", "Arial", sans-serif;
$ui: system-ui, "Roboto","Verdana","Helvetica","Geneva","DejaVu Sans",sans-serif; // Maybe add "Segoe UI" in front
$title: "Quattrocento Sans","Open Sans","Verdana",sans-serif;
$mono: "Roboto Mono","Consolas",monospace;
$text: "Quattrocento","Cambria","Times New Roman",serif;
