/* stylelint-disable selector-class-pattern */

.container {
  overflow-y: auto;
  height: var(--container-height);
}

.v-slider__label {
  width: 5rem;
}

.v-selection-control--inline .v-label {
    margin-left: 4px;
}
