body {
  font-family: Roboto,Verdana,Helvetica,Geneva,"DejaVu Sans",sans-serif;
  color: black;
  margin-left: 1rem;
  font-size: 18px;
}

h1 {
  font-size: 200%;
  line-height: 100%;
  color: #FF6400;
  font-weight: bold;
  padding-top: 1rem;
}

h1.title {
  font-size: 220%;
}

h2 {
  font-size: 160%;
  color: #FF6400;
  font-weight: normal;
  padding-top: 0.7rem;
}

table {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 50%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table td, table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

table tr.even {
  background: #D0E4F5;
}

table thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

table thead th:first-child {
  border-left: none;
}

hr {
  width: 50%;
  position: relative;
  margin: 15px 0;
}

.abstract-title {
  display: none;
}
