
// > Globals
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

// For vuetify
html {
  overflow: hidden !important;
}

.cet-container {
  overflow: hidden !important;
}

:root {
  --container-height: calc(100vh - 121px);
}

// > Vuetify specific
// Height of the various nodes UI areas
.container {
  overflow: clip auto;
  height: var(--container-height);
  padding: 10px 0 0 0 !important;
}

// Colors to be made visible changing application theme
.green-label {
  color: light-dark(#2E7D32, #66BB6A) !important;
  opacity: 1 !important;
}

.yellow-title {
  color: light-dark(#F57F17, #FFF176) !important;
  opacity: 1 !important;
}

.no-select {
  user-select: none !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-label--clickable {
  user-select: none !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-slider__label {
  user-select: none !important;
}


/*
@use "sass:color";

// >> Scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(color.invert(colors.$background), 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: colors.$border;
  box-shadow: inset 0 0 6px colors.$box-shadow;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: colors.$background;
}
*/
